/*
ELEMENTO                                                   DISPLAY
-div, h1,h2,h3....p,header,section .........................block
-img, buttons, input, ......................................inline-block
-span, a, strong............................................inline
-table......................................................table

Además de estos 4 principales tipos de Display, tenemos los modelos conocidos
como Flexbox y Grid, son indicados por el desarrollador para un objetivo concreto.

Características INLINE-BLOCK:
-Se van juntado uno detrás de otro
-Se puede utilizar height y ancho, además de borde para diferenciarloss
-Reserva el espacio


Características inline:
a:
Unicamente se puede modificar el background
*/

/*** Block ***/

.container {
    display: flex; /*Por defecto en horizontal*/
    flex-direction: row; /*Filas row, column columnas */
    flex-wrap: wrap;
    gap: 10px; /*Separacion entre bloques */
    justify-content: space-between; /*Mueve el contenido al centro con center, flex start, flex end para las esquinas, space-between*/
    justify-content: space-around;   
        /* Jugar con el eje vertical */
    height:100vh; /*/jugar con la medida de largo, pilla toda la pantalla de referencia*/
    align-items: center;
    align-items: baseline;
    align-items: last baseline;
    align-content: center;
    }

.item{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
}

.priority{
    order:-1; /* */
    background-color: rgb(173, 108, 208);
}

@media (max-width:768px) { /* A partir de este momento te comportas de otra manera, es como una subcss, antes era para el escritorio y a partir de aqui cambia por ejemplo para una tablet */

    .container{
        flex-direction: column;
    }
    .item{
        width: 300px;
        height: max-content; /*Se visualiza ajustandose al máximo tamaño para mostrar todo */
    }

}